<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

    <body>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">分類情報管理</h6>
				<div class="card-body">
					
				<!-- SVGアイコン定義 -->
				<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
					<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
						<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</symbol>
				 </svg>
		 		<!-- エラーメッセージの表示 -->
				<div th:if="${errorMsg != null}" class="alert alert-danger d-flex align-items-center custom-alert-compact" role="alert">
						<svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" width="16" height="16">
							<use href="#exclamation-triangle-fill" />
						</svg>
					<div>
						<p th:text="${errorMsg}" class="mb-0"></p>
					</div>
				</div>
					
					<!-- 検索条件部分 -->
					<div class="search">
						<div class="categories">
							<div class="form">
								<p class="filter">検索条件</p>
								<p>分類名</p>
								<form th:action="@{/admin/categoryInfo/search}" th:object="${CategoryInfoForm}" method="post">
									<input type="text" id="categoryName" th:field="*{categoryName}" />
									<button type="submit">検索</button>
								</form>
							</div>
						</div>
					</div>
					
					<!-- 表部分 -->
					<div class="table-body">
						<table class="table table-bordered table-center" id="dataTable" cellspacing="0">
							<tbody>
								<tr th:each="categoryInfo : ${categoryInfo}">
									<td th:text="${categoryInfo.categoryName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>
