<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

    <body>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">分類情報管理</h6>
				<div class="card-body">
					<!-- 検索条件部分 -->
					<div class="search">
						<div class="categories">
							<div class="form">
								<p class="filter">検索条件</p>
								<p>分類名</p>
								<form th:action="@{/admin/categoryInfo/search}" th:object="${searchForm}" method="post">
									<input type="text" id="categoryName" th:field="*{categoryName}" />
									<button type="submit">検索</button>
								</form>
							</div>
							<!-- エラーメッセージ表示 -->
							<div th:if="${#fields.hasErrors('searchForm.categoryName')}" class="error-msg">
								<p th:errors="*{searchForm.categoryName}"></p>
							</div>
						</div>
					</div>
					<!-- 表部分 -->
					<div class="table-body">
						<table class="table table-bordered table-center" id="dataTable" cellspacing="0">
							<tbody>
								<tr th:each="categoryInfo : ${categoryInfo}">
									<td th:text="${categoryInfo.CategoryName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
