<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

  <body>
	<div class="card shadow mb-4">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫センター情報</h6>
		</div>

		<div class="card-body">
			
			<!-- 検索フォーム -->
			<div class="search-container">
				<form class="search-container d-flex justify-content-center align-items-center" method="post" th:action="@{'/admin/centerInfo/search'}" th:object="${CenterInfoForm}" style="white-space: nowrap;">
					
					<!-- 検索条件 -->
					<div class="searchTerm">
						<label for="searchTerm" class="mr-2">検索条件</label>
					</div>
					
					<!-- センター名 -->
					<div class="d-flex align-items-center mr-3" style="width: 500px;">
						<label for="centerName" class="mr-2">センター名</label>
						<input type="text" id="centerName" name="centerName" class="form-control mr-2">
					</div>
 					
 					<!-- 都道府県 -->
 					<div class="d-flex align-items-center mr-3">
	 					<label for="region" class="mr-2">都道府県</label>
	 					<select id="region" name="region" class="form-control mr-2">
							 <option value="">選択してください</option>
							 <option th:each="region : ${regions}" 
							 	th:value="${region.name}" 
							 	th:text="${region.name}"></option>
						</select>
 					</div>
 					
 					<!-- 容量 -->
					<div class="d-flex align-items-center mr-3">
						<label for="storageCapacity" class="mr-2">容量</label>
						<input type="text" id="storageCapacityFrom" name="storageCapacityFrom" class="form-control mr-2">
						<span class="mr-2">〜</span>
						<input type="text" id="storageCapacityTo" name="storageCapacityTo" class="form-control mr-2">
					</div>
					
 					<button type="submit" class="btn btn-primary">検索</button>
 				</form>
 				
				<!-- エラーメッセージの表示 -->
				<div class="errorMsg">
					<div th:if="${errorMsg != null}" class="text-danger">
						<p th:text="${errorMsg}"></p>
					</div>
				</div>
 				
			</div>
 			
			<!-- 在庫センター情報テーブル -->
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>センター名</th>
							<th>住所</th>
							<th>連絡先</th>
							<th>管理者名</th>
							<th>最大保存容量(㎥)</th>
							<th>現在保存容量(㎥)</th>
							<th class="table-updateDelete"></th>
							<th class="table-updateDelete"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="centerInfo : ${centerInfoList}">
							<td> [[${centerInfo.centerName}]] </td>
							<td> [[${centerInfo.address}]] </td>
							<td> [[${centerInfo.phoneNumber}]] </td>
							<td> [[${centerInfo.managerName}]] </td>
							<td> [[${centerInfo.maxStorageCapacity}]] </td>
							<td> [[${centerInfo.currentStorageCapacity}]] </td>
							<td class="table-updateDelete">
								<form method="post" th:action="@{'/admin/centerInfo/update/display/' + ${centerInfo.centerId}}">
									<input type="hidden" name="centerId" value="${centerInfo.centerId}" />
									<button type="submit" class="btn btn-secondary">編集</button>
								</form>
							</td>
							<td class="table-updateDelete">
								<form method="post" th:action="@{'/admin/centerInfo/delete/display/' + ${centerInfo.centerId}}">
									<input type="hidden" name="centerId" value="${centerInfo.centerId}" />
									<button type="submit" class="btn btn-danger">削除</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{centerInfo/register/display}" class="move">▶︎新規登録はこちら</a>
			</div>
		</div>
	</div>
  </body>
</html>
